@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --tracking-normal: var(--tracking-normal);
  --color-shadow-color: var(--shadow-color);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-y: var(--shadow-y);
  --shadow-x: var(--shadow-x);
  --font-serif: var(--font-serif);
  --letter-spacing: var(--letter-spacing);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0.0000 0.0000);
  --foreground: oklch(0.2274 0.0363 254.2554);
  --card: oklch(1.0000 0.0000 0.0000);
  --card-foreground: oklch(0.0000 0.0000 0.0000);
  --popover: oklch(1.0000 0.0000 0.0000);
  --popover-foreground: oklch(0.0000 0.0000 0.0000);
  --primary: oklch(0.5050 0.1966 260.1801);
  --primary-foreground: oklch(1.0000 0.0000 0.0000);
  --secondary: oklch(0.6026 0.1167 172.0848);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.9598 0.0161 262.7530);
  --muted-foreground: oklch(0.5380 0.0231 267.1177);
  --accent: oklch(0.7518 0.1303 253.5655);
  --accent-foreground: oklch(0.0000 0.0000 0.0000);
  --destructive: oklch(0.6195 0.1167 224.3332);
  --border: oklch(0.9333 0.0259 266.6072);
  --input: oklch(0.8329 0.0263 268.8038);
  --ring: oklch(0.6052 0.1971 260.1876);
  --chart-1: oklch(0.5954 0.2120 260.1361);
  --chart-2: oklch(0.5912 0.1619 255.5277);
  --chart-3: oklch(0.7458 0.1318 257.5845);
  --chart-4: oklch(0.4120 0.1413 256.1144);
  --chart-5: oklch(0.4170 0.1807 261.0454);
  --sidebar: oklch(1.0000 0.0000 0.0000);
  --sidebar-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.5050 0.1966 260.1801);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.9333 0.0259 266.6072);
  --sidebar-ring: oklch(0.6052 0.1971 260.1876);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.30);
}

.dark {
  --background: oklch(0.2016 0.0297 266.0348);
  --foreground: oklch(0.9923 0.0042 236.4952);
  --card: oklch(0.1714 0.0304 268.1850);
  --card-foreground: oklch(1.0000 0.0000 0.0000);
  --popover: oklch(0.1714 0.0304 268.1850);
  --popover-foreground: oklch(1.0000 0.0000 0.0000);
  --primary: oklch(0.6505 0.1877 258.2080);
  --primary-foreground: oklch(0.0000 0.0000 0.0000);
  --secondary: oklch(0.7514 0.1426 174.3080);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.2147 0.0405 262.3869);
  --muted-foreground: oklch(0.7203 0.0267 263.2847);
  --accent: oklch(0.4324 0.1192 255.4121);
  --accent-foreground: oklch(1.0000 0.0000 0.0000);
  --destructive: oklch(0.7486 0.1170 214.4871);
  --border: oklch(0.2822 0.0497 262.6775);
  --input: oklch(0.3828 0.0499 263.0813);
  --ring: oklch(0.5500 0.1875 258.2460);
  --chart-1: oklch(0.5654 0.1761 258.3041);
  --chart-2: oklch(0.6254 0.1361 255.4229);
  --chart-3: oklch(0.7294 0.1417 256.5342);
  --chart-4: oklch(0.4324 0.1192 255.4121);
  --chart-5: oklch(0.3979 0.1529 258.8188);
  --sidebar: oklch(0.2016 0.0297 266.0348);
  --sidebar-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.6505 0.1877 258.2080);
  --sidebar-primary-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.1614 0.0289 266.8257);
  --sidebar-accent-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.2822 0.0497 262.6775);
  --sidebar-ring: oklch(0.5500 0.1875 258.2460);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --radius: 0.5rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.06);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.12), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.12);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.30);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
